@import "../../utils/variables";
@import "../../utils/mixins";

.single-product-container {
  .single-product-header {
    text-align: center;

    @include forLaptop {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .single-product-image img {
      margin-top: 2rem;
      width: 60%;
      max-width: 350px;

      @include forLaptop {
        margin: 2rem auto;
      }
    }

    .single-product-header-content {
      @include forLaptop {
        @include displayFlex(flex, flex-start, center, column);
      }
      .title {
        font-family: $primaryFont;
        font-size: 2rem;
        margin: 2rem 0;
        padding: 0.5rem;
        border-bottom: 1px solid gray;
        margin-bottom: 0.5rem;
        width: 100%;
        text-align: center;

        @include forLaptop {
          font-size: 2.7rem;
          text-align: left;
        }
      }
      .isInStock {
        font-family: $secondaryFont;
        font-size: 1rem;
      }

      .discount {
        background-color: red;
        color: white;
        margin-top: 1rem;
        font-family: $secondaryFont;
        padding: 0.5rem;
      }
    }
  }

  .single-product-body {
    .single-product-properties {
      text-align: center;
      font-family: $secondaryFont;
      margin: 4rem 0;

      @include forLaptop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      .product-property {
        border: 1px solid;
        padding: 1rem;
        .property-name {
          font-family: $primaryFont;
        }
      }
    }

    .single-product-body-content {
      @include forLaptop { 
        margin: 2rem 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .description {
        font-family: $secondaryFont;
        width: 80%;
        margin: 0 auto;
        text-align: right;
        font-size: 1rem;
        @include displayFlex(flex, center, center, column);
        @include forLaptop {
          font-size: 1.1rem;
        }
      }

      .single-product-video {
        @include displayFlex(flex, center, center, column);

        iframe {
          box-shadow: $boxShadow;
          width: 90%;
          margin: 5rem auto;
          min-height: 350px;

          @include forLaptop {
            width: 700px;
            height: 300px;
          }
        }
      }
    }
  }

  .same-products-container {
    margin: 1rem;
    text-align: center;

    .same-products-title {
      font-family: $primaryFont;
      margin: 2rem 0;
    }
    .same-products {
      margin: 2rem 0;

      @include forTablet {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
      }

      @include forLaptop {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }

  .single-product-footer {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;

    @include forLaptop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }

    .icon-container {
      cursor: pointer;
      margin-bottom: 4rem;
      transition: all 0.4s ease-in-out;

      @include forLaptop {
        border: 1px solid rgb(185, 185, 185);
        padding: 2rem;
        border-radius: 14px;
      }
      .icon-title {
        font-family: $secondaryFont;
        font-weight: bolder;
      }
      .icon {
        transition: all 0.4s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .comments-container {
    margin: 4rem;
    .comments-title,
    .comment-warning {
      text-align: center;
      font-family: $primaryFont;
      font-size: 1.5rem;
    }

    .comment-warning {
      font-size: 2rem;
    }

    .comment-form {
      margin: 1rem;

      @include phoneOnly {
        text-align: center;
      }

      .comment-form-title {
        font-family: $primaryFont;
      }
      .content {
        width: 100%;
        border: none;
        border-bottom: 1px solid gray;
        padding: 0.5rem;
        margin: 1rem 0;

        @include phoneOnly {
          text-align: center;
        }
      }

      .send-comment {
        @include grayButton();
        &:hover {
          background-color: rgb(52, 129, 218);
        }
        &:focus {
          border: none;
        }
      }
    }

    .comments {
      margin-top: 3rem;
      .comment {
        @include forTablet {
          @include displayFlex(flex, center, flex-start, row);
        }

        position: relative;
        border-bottom: 1px solid gray;
        margin: 1rem 0;
        padding: 2rem 1rem;
        .userName-icon {
          color: white;
          border: 1px solid gray;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          @include displayFlex(flex, center, center, column);
          font-family: $secondaryFont;
          font-weight: bolder;
          background-color: $primaryBackground;
        }

        .comment-body {
          @include forTablet {
            margin: 0 1rem;
          }
          .userName {
            margin: 0.5rem 0;
            font-size: 1.3rem;
            font-family: $primaryFont;
            letter-spacing: 0.5px;
          }
        }

        .delete-comment {
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 40%;
        }
      }
    }
  }
}
