@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Glitch&family=Zilla+Slab:wght@300&display=swap");
.single-product-container .single-product-header {
  text-align: center;
}
@media (min-width: 1366px) {
  .single-product-container .single-product-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.single-product-container .single-product-header .single-product-image img {
  margin-top: 2rem;
  width: 60%;
  max-width: 350px;
}
@media (min-width: 1366px) {
  .single-product-container .single-product-header .single-product-image img {
    margin: 2rem auto;
  }
}
@media (min-width: 1366px) {
  .single-product-container .single-product-header .single-product-header-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
}
.single-product-container .single-product-header .single-product-header-content .title {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  margin: 2rem 0;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}
@media (min-width: 1366px) {
  .single-product-container .single-product-header .single-product-header-content .title {
    font-size: 2.7rem;
    text-align: left;
  }
}
.single-product-container .single-product-header .single-product-header-content .isInStock {
  font-family: "Zilla Slab", serif;
  font-size: 1rem;
}
.single-product-container .single-product-header .single-product-header-content .discount {
  background-color: red;
  color: white;
  margin-top: 1rem;
  font-family: "Zilla Slab", serif;
  padding: 0.5rem;
}
.single-product-container .single-product-body .single-product-properties {
  text-align: center;
  font-family: "Zilla Slab", serif;
  margin: 4rem 0;
}
@media (min-width: 1366px) {
  .single-product-container .single-product-body .single-product-properties {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.single-product-container .single-product-body .single-product-properties .product-property {
  border: 1px solid;
  padding: 1rem;
}
.single-product-container .single-product-body .single-product-properties .product-property .property-name {
  font-family: "Anton", sans-serif;
}
@media (min-width: 1366px) {
  .single-product-container .single-product-body .single-product-body-content {
    margin: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.single-product-container .single-product-body .single-product-body-content .description {
  font-family: "Zilla Slab", serif;
  width: 80%;
  margin: 0 auto;
  text-align: right;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1366px) {
  .single-product-container .single-product-body .single-product-body-content .description {
    font-size: 1.1rem;
  }
}
.single-product-container .single-product-body .single-product-body-content .single-product-video {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.single-product-container .single-product-body .single-product-body-content .single-product-video iframe {
  box-shadow: 10px 10px 79px -20px rgba(0, 0, 0, 0.7);
  width: 90%;
  margin: 5rem auto;
  min-height: 350px;
}
@media (min-width: 1366px) {
  .single-product-container .single-product-body .single-product-body-content .single-product-video iframe {
    width: 700px;
    height: 300px;
  }
}
.single-product-container .same-products-container {
  margin: 1rem;
  text-align: center;
}
.single-product-container .same-products-container .same-products-title {
  font-family: "Anton", sans-serif;
  margin: 2rem 0;
}
.single-product-container .same-products-container .same-products {
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .single-product-container .same-products-container .same-products {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1366px) {
  .single-product-container .same-products-container .same-products {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
  }
}
.single-product-container .single-product-footer {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}
@media (min-width: 1366px) {
  .single-product-container .single-product-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}
.single-product-container .single-product-footer .icon-container {
  cursor: pointer;
  margin-bottom: 4rem;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 1366px) {
  .single-product-container .single-product-footer .icon-container {
    border: 1px solid rgb(185, 185, 185);
    padding: 2rem;
    border-radius: 14px;
  }
}
.single-product-container .single-product-footer .icon-container .icon-title {
  font-family: "Zilla Slab", serif;
  font-weight: bolder;
}
.single-product-container .single-product-footer .icon-container .icon {
  transition: all 0.4s ease-in-out;
}
.single-product-container .single-product-footer .icon-container .icon:hover {
  transform: scale(1.1);
}
.single-product-container .comments-container {
  margin: 4rem;
}
.single-product-container .comments-container .comments-title,
.single-product-container .comments-container .comment-warning {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
}
.single-product-container .comments-container .comment-warning {
  font-size: 2rem;
}
.single-product-container .comments-container .comment-form {
  margin: 1rem;
}
@media (max-width: 768px) {
  .single-product-container .comments-container .comment-form {
    text-align: center;
  }
}
.single-product-container .comments-container .comment-form .comment-form-title {
  font-family: "Anton", sans-serif;
}
.single-product-container .comments-container .comment-form .content {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  padding: 0.5rem;
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .single-product-container .comments-container .comment-form .content {
    text-align: center;
  }
}
.single-product-container .comments-container .comment-form .send-comment {
  padding: 0.8rem 2rem;
  border-radius: 10px;
  margin: 1.2rem 0;
  border: none;
  background-color: #3a3a3a;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-family: #3a3a3a;
  font-weight: bolder;
}
.single-product-container .comments-container .comment-form .send-comment:hover {
  background-color: rgb(52, 129, 218);
}
.single-product-container .comments-container .comment-form .send-comment:focus {
  border: none;
}
.single-product-container .comments-container .comments {
  margin-top: 3rem;
}
.single-product-container .comments-container .comments .comment {
  position: relative;
  border-bottom: 1px solid gray;
  margin: 1rem 0;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .single-product-container .comments-container .comments .comment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
}
.single-product-container .comments-container .comments .comment .userName-icon {
  color: white;
  border: 1px solid gray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Zilla Slab", serif;
  font-weight: bolder;
  background-color: #3a3a3a;
}
@media (min-width: 768px) {
  .single-product-container .comments-container .comments .comment .comment-body {
    margin: 0 1rem;
  }
}
.single-product-container .comments-container .comments .comment .comment-body .userName {
  margin: 0.5rem 0;
  font-size: 1.3rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.5px;
}
.single-product-container .comments-container .comments .comment .delete-comment {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 40%;
}/*# sourceMappingURL=ProductSingle.css.map */