@import "../base/typography";
$primaryFont: 'Anton', sans-serif;
$secondaryFont: 'Zilla Slab', serif;
$glitchFont: 'Rubik Glitch', cursive;
$primaryBackground: #3a3a3a;
$transition: all .4s ease-in-out;

$tabletBreakPoint: 768px;

