@import "../base/typography";
$primaryFont: 'Anton', sans-serif;
$secondaryFont: 'Zilla Slab', serif;
$glitchFont: 'Rubik Glitch', cursive;
$primaryBackground: #3a3a3a;
$transition: all .4s ease-in-out;
$boxShadow:  10px 10px 79px -20px rgba(0, 0, 0, 0.7);

$tabletBreakPoint: 768px;

