@import '../utils/variables';
@import '../utils/mixins';

.products-container {
  background-color: red;
  display: grid;
  padding: 2rem;
  grid-gap: .5rem;

  .product-card {
    border: 1px solid;
  }
}

@media(min-width: 768px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}