@import "../utils/variables";
@import "../utils/mixins";

.home-container {
  .products-title {
    text-align: center;
    margin-top: 5rem;
    font-family: $primaryFont;
    font-size: 2.5rem;
  }

  .products {
    width: 85%;
    margin: 5rem auto;
  }
}

@media (min-width: 768px) {
  .home-container {
    .discount-products-container {
      .discount-products {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}

@media (min-width: 768px) {
  .home-container {
    .latest-products-container {
      .latest-products {
        display: grid;
        grid-gap: .7rem;
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}
