@import "../utils/variables";
@import "../utils/mixins";

.home-container {
  width: 100%;
  padding: 1rem;
  .products-title {
    text-align: center;
    font-family: $primaryFont;
    margin: 5rem 0;
    font-size: 3rem;
  }
}



@media(min-width: $tabletBreakPoint) {
  .products {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom : .5rem;
  }
}
@media(min-width: 1366px) {
  .products {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
  }
}