@import "../utils/variables";
@import "../utils/mixins";

.single-product-container {
  .single-product-header {
    text-align: center;
    .single-product-image img {
      margin-top: 2rem;
      width: 60%;
      max-width: 350px;
    }

    .single-product-header-content {
      .title {
        font-family: $primaryFont;
        font-size: 2rem;
        margin: 2rem 0;
        padding: .5rem;
        border-bottom: 1px solid gray;
        margin-bottom: 0.5rem;
        width: 100%;
        text-align: left;
      }
      .isInStock {
        font-family: $secondaryFont;
        font-size: 1rem;
      }

      .discount {
        background-color: red;
        color: white;
        margin-top: 1rem;
        font-family: $secondaryFont;
        padding: 0.5rem;
      }
    }
  }

  .single-product-body {
    .single-product-properties {
      text-align: center;
      font-family: $secondaryFont;
      margin: 4rem 0;
      @media (min-width: $tabletBreakPoint) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      .product-property {
        border: 1px solid;
        padding: 1rem;
        .property-name {
          font-family: $primaryFont;
        }
      }
    }

    .single-product-body-content {
      .description {
        font-family: $secondaryFont;
        width: 80%;
        margin: 0 auto;
        text-align: right;
        @include displayFlex(flex, center, center, column);
      }

      .single-product-video {
        @include displayFlex(flex, center, center, column);

        iframe {
          box-shadow: $boxShadow;
          width: 90%;
          margin: 5rem auto;
          min-height: 350px;
        }
      }
      @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .same-products-container {
    margin: 1rem;
    text-align: center;

    .same-products-title {
      font-family: $primaryFont;
      margin: 2rem 0;
    }
    .same-products {
      margin: 2rem 0;
      @media (min-width: $tabletBreakPoint) {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
      }
      @media (min-width: 1366px) {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }

  .single-product-footer {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;

    .icon-container {
      cursor: pointer;
      margin-bottom: 4rem;
      transition: all 0.4s ease-in-out;
      .icon-title {
        font-family: $secondaryFont;
        font-weight: bolder;
      }
      .icon {
        transition: all 0.4s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .comments-container {
    margin: 4rem;
    .comments-title,
    .comment-warning {
      text-align: center;
      font-family: $primaryFont;
      font-size: 1.5rem;
    }

    .comment-warning {
      font-size: 2rem;
    }

    .comment-form {
      margin: 1rem;
      .comment-form-title {
        font-family: $primaryFont;
      }
      .content {
        width: 100%;
        border: none;
        border-bottom: 1px solid gray;
        padding: 0.5rem;
        margin: 1rem 0;
      }

      .send-comment {
        @include grayButton();
        &:hover {
          background-color: rgb(52, 129, 218);
        }
        &:focus {
          border: none;
        }
      }
    }

    .comments {
      margin-top: 3rem;
      .comment {
        position: relative;
        border-bottom: 1px solid gray;
        margin: 1rem;
        padding: 1rem;
        .userName-icon {
          border: 1px solid gray;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          @include displayFlex(flex, center, center, column);
          font-family: $secondaryFont;
          font-weight: bolder;
          background-color: black;
          color: white;
        }

        .comment-body {
          .userName {
            margin: 0.5rem 0;
            font-size: 1.3rem;
            font-family: $primaryFont;
            letter-spacing: 0.5px;
          }

          @media (min-width: $tabletBreakPoint) {
            margin: 0 1rem;
          }
        }

        .delete-comment {
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 50%;
        }

        @media (min-width: $tabletBreakPoint) {
          @include displayFlex(flex, center, flex-start, row);
        }
      }
    }
    @media(max-width: $tabletBreakPoint) {
      text-align: center;
    }
  }
}

@media (min-width: 1366px) {
  .single-product-container {
    .single-product-header {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .single-product-image img {
        margin: 2rem auto;
      }

      .single-product-header-content {
        @include displayFlex(flex, flex-start, center, column);

        .title {
          font-size: 2.7rem;
        }
      }
    }
    .single-product-body-content {
      margin-bottom: 2rem;
      .description {
        font-size: 1.2rem;
      }
      .single-product-video {
        iframe {
          width: 800px;
          height: 400px;
        }
      }
    }
  }

  .single-product-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    .icon-container {
      border: 1px solid rgb(185, 185, 185);
      padding: 2rem;
      border-radius: 14px;
    }
  }
}
