@import "../utils/variables";
@import "../utils/mixins";

.single-product-container {
  .single-product-header {
    text-align: center;
    .single-product-image img {
      margin-top: 2rem;
      width: 60%;
      max-width: 350px;
      box-shadow: $boxShadow;
    }

    .single-product-header-content {
      .title {
        font-family: $primaryFont;
        font-size: 3rem;
        margin-top: 2rem;
        border-bottom: 1px solid gray;
        margin-bottom: 0.5rem;
      }
      .isInStock {
        font-family: $secondaryFont;
        font-size: 1rem;
      }

      .discount {
        background-color: red;
        color: white;
        margin-top: 1rem;
        font-family: $secondaryFont;
        padding: 0.5rem;
      }
    }
  }

  .single-product-body {
    .single-product-body-content {
      .description {
        font-family: $secondaryFont;
        width: 80%;
        margin: 0 auto;
        text-align: right;
        @include displayFlex(flex, center, center, column);
      }

      .single-product-video {
        @include displayFlex(flex, center, center, column);

        iframe {
          box-shadow: $boxShadow;
          width: 90%;
          margin: 5rem auto;
          min-height: 350px;
        }
      }
      @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .single-product-footer {
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;

    .icon-container {
      cursor: pointer;
      margin-bottom: 4rem;
      transition: all 0.4s ease-in-out;
      .icon-title {
        font-family: $secondaryFont;
        font-weight: bolder;
      }
      .icon {
        transition: all .4s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (min-width: 1366px) {
  .single-product-container {
    .single-product-header {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .single-product-image img {
        margin: 2rem auto;
      }

      .single-product-header-content {
        @include displayFlex(flex, flex-start, center, column);

        .title {
          font-size: 5rem;
        }
      }
    }
    .single-product-body-content {
      .description {
        font-size: 1.2rem;
      }
      .single-product-video {
        iframe {
          width: 800px;
          height: 400px;
        }
      }
    }
  }

  .single-product-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    .icon-container {
      border: 1px solid rgb(185, 185, 185);
      padding: 2rem;
      border-radius: 14px;
    }
  }
}
