@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.user-orders-container {
  padding: 1rem;
  background-color: rgb(240, 240, 240);
  min-height: 90vh;

  .user-orders-title {
    font-family: $secondaryFont;
    font-size: 2.5rem;
    margin: 1.5rem;
    text-align: center;
  }

  .user-orders {
    display: grid;
    grid-gap: 0.5rem;

    //USER-ORDER-STABLET-STYLES

    @include forTablet {
      grid-template-columns: repeat(5, 1fr);
    }


    .link {
      text-decoration: none;
      .order {
        border: 1px solid;
        padding: 0.5rem;
        font-family: $secondaryFont;
        background-color: rgb(143, 58, 58);
        color: white;
        .order-title {
          font-family: $primaryFont;
        }
        & :where(h3) {
          font-family: $secondaryFont;
          font-weight: bolder;
          margin-top: 0.4rem;
        }
        hr {
          margin: 1rem 0;
        }
      }
    }
  }

  .no-orders-title {
    font-family: $secondaryFont;
    text-align: center;
  }
}
