@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";


  .order-single-container {
    .order {
      .order-title {
        font-family: $primaryFont;
      }
      .order-id {
        font-family: $secondaryFont;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      
      .order-shopping-cart {
        padding: 2rem 0;
        //background-color: rgba(255, 0, 0, 0.747);
        .order-products {
         // background-color: rgba(255, 255, 0, 0.473);
          display: flex;
          border-bottom: 1px solid;

          .product-img {
            height: 80;
            width: 80px;
          }
        }
      }

    }
  }

