@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.profile-data-container {
    @include displayFlex(flex, center, center, column);
    text-align: center;
    color: $primaryBackground;
    width: 100%;

    .user-profile {

        .profile-icon {
            border: 1px solid rgb(100, 159, 248);
            border-radius: 15px;
            max-width: 150px;
            margin: 1.2rem auto; 
            .icon {
                color: rgb(71, 144, 252);
            }
        }

        .profile-data-content {
            @include forLaptop {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            .profile-datas {
                margin: .5rem 0;
    
                .title {
                    margin: .2rem 0;
                    font-family: $primaryFont;
                    letter-spacing: 1px;
                }
    
                .data {
                    font-family: $secondaryFont;
                }
            }
        }
    }

}
