@import "../utils/variables";
@import "../utils/mixins";


.account-container {
  position: fixed;
  right: 10px;
  top: 5px;
  z-index: 102;
  .account {
    cursor: pointer;
    .login-button {
      @include grayButton();
      border: 1px solid white;
      padding: .8rem .8rem;
      position: relative;
      left: 6px;
      margin: 0;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}