@import "../utils/variables";
@import "../utils/mixins";

.account-toggle {
  position: fixed;
  top: 50px;
  transition: $transition;
  height: 100vh;
  width: 250px;
  background-color: $primaryBackground;
  color: white;
  z-index: 99;
  right: -100%;
  @include displayFlex(flex, center, center, column);

  .user-name {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-family: $primaryFont;
    letter-spacing: 1px;
  }

  .account-link {
    @include link();
    font-weight: bolder;
  }

  .logout-user {
    margin: 1rem;
    @include grayButton();
    border: 1px solid white;
  }}

  .userToggleActive {
    right: 0;
  }
