@import "../utils/variables";
@import "../utils/mixins";


.admin-login-container {
  text-align: right;
  .admin-login {
    @include grayButton();
    border: 1px solid gray;
  
    &:hover {
      background-color: red;
    }
  }
}
