@import "../utils/variables";
@import "../utils/mixins";

.nav {
  padding: 1rem 0;
  border-bottom: 1px solid ;
  .link {
    text-decoration: none;
    .shopping-cart {
      background-color: green;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      .numer-of-items {
        font-size: 1.4rem;
        position: relative;
        right: 5px;
        top: -8px;
        background-color: red;
        border-radius: 50%;
        
      }

    }
  }
}
