@import "../utils/variables";
@import "../utils/mixins";

.product-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  transition: $transition;
  margin-bottom: 1.5rem;

  .product-card-link {
    text-decoration: none;
    background-color: red;
    .product-header {
      transition: $transition;
      filter: grayscale(40%);
      &:hover {
        filter: grayscale(0);
      }
      .product-image {
        height: 250px;
        width: 100%;
      }

      .product-discount {
        background-color: red;
        color: white;
        position: absolute;
        right: 0;
        padding: 0.5rem;
        font-family: $secondaryFont;
      }

      .product-content {
        .product-title {
          font-family: $primaryFont;
          color: $primaryBackground;
          margin: 0.2rem;
          font-size: 1.4rem;
        }
        .price {
          font-family: $secondaryFont;
          color: $primaryBackground;
          margin: 0.2rem 0;
        }
      }
      .product-icons {
        .product-icon {
          font-family: $secondaryFont;
          font-weight: bold;
          color: rgb(175, 95, 95);
        }
      }
    }
  }
  .add-to-cart:hover {
    background-color: green;
  }
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 20px 20px;
    transform: scale(1.005);
  }
}
