@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Glitch&family=Zilla+Slab:wght@300&display=swap");
.shopping-cart-container {
  min-height: 80vh;
  width: 100%;
  margin: .5rem;
}

.shopping-cart-container .shopping-cart-empty {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.shopping-cart-container .shopping-cart-empty .shopping-cart-title {
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
}

.shopping-cart-container .shopping-cart-empty .back-link {
  color: green;
  text-decoration: none;
  font-family: "Zilla Slab", serif;
  font-weight: bolder;
  font-size: 1.5rem;
}

.shopping-cart-container .cart {
  height: 100%;
  width: 100%;
}

.shopping-cart-container .cart .shopping-cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0.2rem;
}

@media (min-width: 768px) {
  .shopping-cart-container .cart .shopping-cart-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    margin: 0 auto;
  }
}

.shopping-cart-container .cart .shopping-cart-header h1 {
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
}

.shopping-cart-container .cart .shopping-cart-header .clear-cart {
  padding: 0.8rem 2rem;
  border-radius: 10px;
  margin: 1.2rem 0;
  border: none;
  background-color: #3a3a3a;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: #3a3a3a;
  font-weight: bolder;
}

.shopping-cart-container .cart .shopping-cart-header .clear-cart:hover {
  background-color: red;
}

.shopping-cart-container .cart .shopping-cart-products .shopping-products-card {
  border-bottom: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
}

@media (min-width: 768px) {
  .shopping-cart-container .cart .shopping-cart-products .shopping-products-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2rem auto;
    padding: 2rem;
  }
  .shopping-cart-container .cart .shopping-cart-products .shopping-products-card .delete-cart-item, .shopping-cart-container .cart .shopping-cart-products .shopping-products-card .product-title, .shopping-cart-container .cart .shopping-cart-products .shopping-products-card .product-price {
    margin: 0 2rem;
  }
}

.shopping-cart-container .cart .shopping-cart-products .shopping-products-card .delete-cart-item {
  cursor: pointer;
  margin: 1rem;
}

.shopping-cart-container .cart .shopping-cart-products .shopping-products-card .product-title {
  font-family: "Anton", sans-serif;
  margin: 0.5rem;
  font-size: 1.5rem;
}

.shopping-cart-container .cart .shopping-cart-products .shopping-products-card .shop-quantity {
  text-align: center;
  font-size: 1rem;
  width: 50px;
}

.shopping-cart-container .cart .shopping-cart-products .shopping-products-card .product-quantity-unit,
.shopping-cart-container .cart .shopping-cart-products .shopping-products-card .product-price,
.shopping-cart-container .cart .shopping-cart-products .shopping-products-card .shop-quantity {
  font-family: "Zilla Slab", serif;
  margin: 0.3rem;
}

.shopping-cart-container .cart .shopping-cart-products .shopping-products-card .product-price {
  font-size: 1.3rem;
  font-weight: bolder;
}

.shopping-cart-container .cart .shopping-cart-navigate {
  margin-top: 2rem;
  text-align: center;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopping-cart-container .cart .shopping-cart-navigate .shopping-cart-link {
  color: green;
  text-decoration: none;
  font-family: "Zilla Slab", serif;
  font-weight: bolder;
  margin: 1rem;
}
/*# sourceMappingURL=ShoppingCart.css.map */